<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- This Menu Item must have a parent and an action -->
        <menuitem id="masterdata_menu" name="Quản lý thông tin"/>
        <!-- This Menu Item must have a parent and an action -->
        <menuitem id="customer_menu" name="Danh sách khách hàng" parent="masterdata_menu" action="customers_act"
                  sequence="1"/>
        <menuitem id="employees_menu" name="Danh sách nhân viên" parent="masterdata_menu" action="employees_act"
                  sequence="2"/>
        <menuitem id="items_commodity_menu" name="Danh sách mặt hàng" parent="masterdata_menu"
                  action="items_commodity_act"
                  sequence="3"/>
         <menuitem id="suppliers_menu" name="Danh sách nhà cung cấp" parent="masterdata_menu"
                  action="suppliers_act"
                  sequence="4"/>
         <menuitem id="billsandorders_menu" name="Danh sách các hóa đơn" parent="masterdata_menu" sequence="5"/>
<!--                  action="bills_act"-->
           <menuitem id="bills_menu" name="Danh sách hóa đơn bán hàng" parent="billsandorders_menu"
                  action="bills_act"
                  sequence="1"/>


    </data>
</odoo>